.idea/$CACHE_FILE$
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/telegramWhereToEatBot.iml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/telegramWhereToEatBot.iml
.idea/vcs.xml
src/menu/weinberg.jpg
src/menu/weinberg.png
src/config.php
src/menu/culmann.jpg
src/menu/culmann.pdf
src/menu/culmannSlice.jpg
src/menu/loewe.pdf
